body {
    background-color: #9fb8ad;
}



.blogTitle {
    text-align: center;
    color: #383e56;
}

.pageWrapper {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
    
}
.blogCard {
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    font-size: 30px;
    padding: 10px 0px;
    
}

.titleInputs {
    padding: 10px 5px;
    width: 560px;
    background-color: #c5d7bd;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #383e56;
    
    
}
.titleInputs::placeholder {
    font-size: 15px;
    color: #383e56;
}

.textArea {
    border: none;
    outline: none;
    font-size: 15px;
    background-color:#c5d7bd;
    border-radius: 4px;
    padding: 5px 5px;
}

.textArea::placeholder {
    font-size: 15px;
    color: #383e56;
}

.oldTitle {
    text-align: center;
    color: #383e56;
}
.oldText {
    padding-left: 2.5px;
}

.oldBlog {
    border: 1px solid #383e56;
    border-radius: 4px;
    padding: 5px;
    margin:20px 0px;
    max-width: 800px;
    margin: 10px auto;
}
.date {
    text-align: end;
    color: #fb743e;
}
.title {
    color: #383e56;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.text {
    color: #383e56;
    margin-bottom: 10px;
}
.posts {
    text-align: center;
    color: #383e56;
}

.hr {
    width: 100%;
    height: 6px;
    border: none;
    background-color:#fb743e ;
    
}

.created {
    text-decoration: none;
    color: #383e56;
    display: block;
    text-align: end;
    font-weight: 600;
}

.btn {
    background-color: transparent;
    color: #fb743e ;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
